<h1> All Photos </h1>



<%= link_to "New photo", new_photo_path(@photo) %>
<div class = "row">
<% @photos.each do |photo| %>


<div class = "col">
<h2> <%= photo.name %></h2>
<%= image_tag ("#{photo.name}.png"), width: "100" %>
<p>Born: <%= photo.born %></p>
<%= link_to "More Info", photo %>
</div>
<% end %>
</div>


<style>
  body{
    font-family: serif;
  }
</style>