<h1>Photo Info</h1>

<h2><%= @photo.name %> </h2>
<%= image_tag ("#{@photo.name}.png")%>
<p>Width: <%= @photo.width %></p>
<p>Height: <%= @photo.height %></p>

<a href="/photos">Back to all photos</a>
<%= link_to "Edit photo", edit_photo_path(@photo) %>
<%= link_to "Destroy photo", photo_path(@photo), data: {turbo_method: :delete} %>